.user_register {
  height: 100vh;
  position: relative;
  background: #fff;
}
.register_box {
  width: 90vw;
  padding-top: 50px;
  box-sizing: border-box;
}
.login_content input {
  width: 100%;
  display: block;
  height: 35px;
  border: 1px solid #333;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  margin-left: 0px;
}
.login_content input::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
  font-size: 16px;
}
.login_content input::-moz-placeholder {
  color: #ccc;
  font-weight: 300;
  font-size: 16px;
}
.login_content input::-moz-placeholder {
  color: #ccc;
  font-weight: 300;
  font-size: 16px;
}
.login_content input:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
  font-size: 16px;
}
.phone_number {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-left: 18px;
}
.phone_number p {
  color: #666;
  font-weight: 500;
}
.vscode_message {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-left: 18px;
  padding-top: 20px;
}
.vscode_message .vscode_title {
  display: flex;
  justify-content: space-between;
}
.vscode_message .vscode_title span {
  color: #59aaff;
  font-size: 13px;
  font-weight: 300;
}
.vscode_message .vscode_title p {
  color: #666;
  font-weight: 500;
}
.get_receive_vscode p {
  display: block;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 13px;
  float: right;
  text-align: center;
  width: 90px;
}
.get_receive_vscode p .count_second {
  color: #999;
}
.get_receive_vscode input {
  width: 50%;
}