*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.App{
  padding: 10px;
  box-sizing: border-box;
}
.container{
  display: flex;
}
.col-md-4{
  width: 20%;
}
.col-md-8{
  width: 40%;
  margin-left: 20px;
}
.form-horizontal > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-control{
  margin-top: 10px; 
}
.col-sm-offset-2 {
  display: flex;
  justify-content: flex-end;
}